
$lightredCTA: hsl(356, 100%, 66%);
$lightredCTAhoverbackground: hsl(355, 100%, 74%);
$verydarkblueheadings: hsl(208, 49%, 24%);


$whitetext: hsl(0, 0%, 100%);
$grayishbluefootertext: hsl(240, 2%, 79%);
$verydarkgrayishbluebodycopy: hsl(207, 13%, 34%);
$verydarkblackbluefooterbackground: hsl(240, 10%, 16%);




$verylightred: hsl(13, 100%, 72%);
$lightred: hsl(353, 100%, 62%);



$verydarkgrayblue: hsl(237, 17%, 21%);
$verydarkdesaturatedblue: hsl(237, 23%, 32%);



$fontSize:16px;
$bodyFontOne:'Overpass', sans-serif;
$bodyFontTwo:'Ubuntu', sans-serif;